html {
  font-size: 20px;
}
@media (max-width: 600px) {
  html {
    font-size: 16px;
  }
}
@media (max-width: 800px) {
  html {
    font-size: 18px;
  }
}

body {
  background-color: #111111;
  background-image: url(http://img.wallpaperfolder.com/f/77D2AAB0B970/filming-simple-graphics-3d-fine.jpg);
  background-size: 1800px 600px;
  font-family: "righteous", sans-serif;
  text-align: center;
}

header {
  margin: 10px -15px;
}
header h1 {
  color: #FF6611;
  font-size: 4rem;
  background-color: black;
}

.row > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.film, .quote {
  width: 50%;
  padding: 20px;
  background-color: white;
}
@media (max-width: 800px) {
  .film, .quote {
    width: 80%;
    padding: 10px;
  }
}

.quote {
  border-radius: 10px 10px 0 0;
  height: 120px;
  font-size: 1.5rem;
  margin: 40px 10px 0;
}

.film {
  height: 50px;
  font-size: 0.9rem;
  border-radius: 0 0 10px 10px;
  margin: -2px 0 20px;
  text-align: right;
}

button {
  background-color: #FF6611;
}

footer {
  color: white;
  margin-top: 10px;
}